<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Projektni zadatak iz predmeta Inegracija softverskih tehnologija">
    <meta name="author" content="Tamara Najman, NRT-65/18">
    <meta name="keywords" content="VIŠER, IST">
    <meta name="language" content="Srpski, Serbian">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Oglasi</title>
</head>
<body>
  <header> 
    <nav>
      <ul>
        <li><a class="nav-link" href="/">Oglasi</a></li>
        <li><a class="nav-link" href="/">Dodaj</a></li>
      </ul>
    </nav>
  </header>
  <section class="content">
    <div class="container">
      #{data}
    </div>
  </section>
</body>
</html>